<div id="be-main-project-dialog">
    <div class="modal-header">
        <h3 id="project-dialog-new-header" ng-show="project.isNew">Create New Project</h3>
        <h3 id="project-dialog-open-header" ng-show="!project.isNew">Open Existing Project</h3>
    </div>
    <div class="modal-body">
        <form name="projectForm" novalidate="">
            <div class="entryRow" ng-show="project.isNew">
                <label id="project-dialog-name-label" class="entrylabel">Project Name</label>
                <input id="project-dialog-name-textbox" class="entryTextbox" type="text" data-ng-model="projectName" placeholder="project name..." />
            </div>
            <div class="entryRow">
                <label id="project-dialog-build-from-existing-site-label" class="entrylabel">Create from existing site</label>
                <input id="project-dialog-build-from-existing-site-checkbox" class="entryCheckbox" type="checkbox" data-ng-model="isFromExistingSite" />
                <label id="project-dialog-existing-site-label" class="entrylabel" ng-show="!project.isNew">Select site directory</label>
                <input id="project-dialog-existing-site-fileinput" class="entryFile" type="file" data-ng-model="directoryPath" ng-show="!project.isNew" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-ng-click="cancel()">Cancel</button>
    </div>
</div>

