div.container-fluid
  div.row
    div#be-main-status.col-md-12.section-status projectName
  div.row
    div#be-main-tree.col-md-3.section-container
      div.section-header Object Explorer
      button.bn.btn-default(type='button' id='be-main-tree-btn-new-project' data-ng-click='newProjectClick()') New Project
      button.bn.btn-default(type='button' id='be-main-tree-btn-open-project' data-ng-click='openProjectClick()') Open Project
    div#be-main-workspace.col-md-5.col-sm-7.section-container
      .section-header Workspace
    div#be-main-preview.col-md-4.col-sm-5.section-container
      .section-header Preview
