div#be-main-ribbon.ribbon
div#be-main-status.section-status
  div(ng-bind="project.name")
div.main-container
  div#be-main-workspace.section-container
    div#be-main-workspace-head.section-header Workspace
    div#be-main-workspace-body.workspace-container
      div.haccordion.toolbar
        div.label
          div.rotate90 tools
        div.content
          div.toolheading misc tools
          div.toolitem#tool-div(be-draggable, data-element-type="div")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-div")
            span.tooltext div
          div.toolitem#tool-label(be-draggable, data-element-type="label")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-label")
            span.tooltext label
          div.toolitem#tool-textbox(be-draggable, data-element-type="input-text")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-textbox")
            span.tooltext textbox
          div.toolitem#tool-other1(be-draggable, data-element-type="input-email")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-email")
            span.tooltext email
          div.toolitem(be-draggable, data-element-type="input-password")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-password")
            span.tooltext password
          div.toolitem(be-draggable, data-element-type="button")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-button")
            span.tooltext button
          div.toolitem(be-draggable, data-element-type="article")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-artical")
            span.tooltext article
          div.toolitem(be-draggable, data-element-type="span")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-span")
            span.tooltext span
          div.toolitem(be-draggable, data-element-type="header")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-header")
            span.tooltext header
          div.toolitem(be-draggable, data-element-type="footer")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-footer")
            span.tooltext footer
          div.toolitem(be-draggable, data-element-type="form")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-form")
            span.tooltext form
          div.toolitem(be-draggable, data-element-type="table")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-table")
            span.tooltext table
          div.toolitem(be-draggable, data-element-type="body")
            svg.shape#svgtest(viewBox="0 0 20 20")
              use(xlink:href="#shape-body")
            span.tooltext body
          div.canvas#be-main-workcanvas(be-droppable, drop="dropped")
  div#be-main-tree.section-container(collapse="isTreeCollapsed")
    div#be-main-tree-head.section-header
      //TODO: tabset needs to be ul/li menu related but separate from views.  Will allow icon controls in header
      ul.nav.navbar-nav.section-header-buttons
        li.section-header-button.selected Objects
        li.section-header-button DOM
        li.section-header-button Rules
      div.section-header-icon
        svg.shape#svgtest(viewBox="0 0 20 20", ng-click="isTreeCollapsed = !isTreeCollapsed")
          use(xlink:href="#shape-collapse-left")
    div#be-main-tree-obj-body.section-body tree goes here...
  div#be-main-tree-hint.section-container-hint(collapse="!isTreeCollapsed")
    svg.shape#svgtest(viewBox="0 0 20 20", ng-click="isTreeCollapsed = !isTreeCollapsed")
      use(xlink:href="#shape-collapse-right")
    div.label
      div.rotate90 tree
  //div#be-main-preview.section-container
  //  div#be-main-preview-head.section-header
  //    div Preview
  //    div.section-header-icon
  //      svg.shape#svgtest(viewBox="0 0 20 20", ng-click="isTreeCollapsed = !isTreeCollapsed")
  //        use(xlink:href="#shape-collapse-right")
  //  div#be-main-preview-body preview goes here...
  //div#be-main-tree-hint.section-container-hint(collapse="!isPreviewCollapsed")
  //  svg.shape#svgtest(viewBox="0 0 20 20", ng-click="isPreviewCollapsed = !isPreviewCollapsed")
  //    use(xlink:href="#shape-collapse-left")
  //  div.label
  //    div.rotate90 preview
  div.gutter#gutter1
//  div.gutter#gutter2
