.navbar{
  &.navfont{
    font-weight: $regular;
    font-size: $base-font-size;
    text-align: left;
    text-shadow: .5px .5px .5px #ffffff;
  }
  &.nav-masthead {
    background-color: #06af45;

    .navbar-brand {
      color: white;
    }

  }
}
.navbar-nav > li > a{
  padding: 4px 15px;
}
