/*---------------------------------------------*/
/*       MIXINS                                */
/*---------------------------------------------*/
/* Usage: #somediv { @include border-radius(20px);    */
/* Usage: #somediv { .border-radius-custom(20px, 20px, 0px, 0px);    */
/* Usage: #somediv { .box-shadow(5px, 5px, 6px, 0.3);    */
/* Usage: #somediv { @include transition(all, 0.5s, ease-in);    */
/* Usage: #somediv { @include transform(5deg, 0.5, 1deg, 0px);    */
/* Usage: #somediv { @include transform-origin(left bottom);    */
/* Usage: #somediv { @include gradient(left, #663333, #333333);    */
/* Usage: #somediv { background-color: BADA55; .quick-gradient(top, 0.2);    */
/* Color Scheme
  Usage:
  .one   {color: @base;}
  .two   {color: @lighter1;}
  .three {color: @lighter2;}
  .four  {color: @darker1;}
  .five  {color: @darker2;}    */
/* Usage: pre { .wrap }    */
/* Usage: .container {@include flexbox();}   */
/* Usage: .container {@include flexflow(column);}   */
/* Usage: .item {@include flex(1 200px); @include order(2);}   */
