body {
  padding-top: .5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #6b7fad;
}
header,
footer,
section.section-status {
  display: block;
}
header {
  margin-bottom: .3em;
}
.navbar {
  margin-bottom: .5em;
}
.navbar.navfont {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  text-shadow: .5px .5px .5px #333333;
}
.navbar.navgradient {
  background: -webkit-linear-gradient(#ffffff, #d9d9d9);
  background: -moz-linear-gradient(#ffffff, #d9d9d9);
  background: -ms-linear-gradient(#ffffff, #d9d9d9);
  background: -o-linear-gradient(#ffffff, #d9d9d9);
  background: linear-gradient(#ffffff, #d9d9d9);
  border-bottom: 1px solid #a2a2a2;
  min-height: 25px;
}
.navbar-brand {
  padding: 4px 15px;
  height: 20px;
}
.navbar-nav > li > a {
  padding: 4px 15px;
}
.main-container {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}
.section-container {
  border: 1px solid #a2a2a2;
  padding: 3px;
  min-height: 50px;
}
.section-header {
  font-weight: bold;
  color: #526690;
  margin-bottom: .2em;
}
.fullwidth {
  widows: 100%;
}
.gutter {
  display: none;
}
#be-main-tree {
  -webkit-flex: 2 6 20%;
  -webkit-order: 1;
  -moz-order: 0;
  order: 0;
}
#be-main-workspace {
  -webkit-flex: 5 1 50%;
  -webkit-order: 0;
  -moz-order: 0;
  order: 0;
}
#be-main-preview {
  -webkit-flex: 3 2 30%;
  -webkit-order: 0;
  -moz-order: 0;
  order: 0;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #d9d9d9;
}
/*  Workspace classes  */
div.workspace {
  border: 1px dotted #cccccc;
}
div.workspace.empty {
  padding: 1px;
  margin: 1px;
  width: 20px;
  height: 20px;
}
input[type="text"].workspace {
  border: 1px dotted #cccccc;
}
/* // //toolbar accordian */
.haccordion {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s 0.1s;
  transition: all 0.4s 0.1s ease-out;
}
.toolbar {
  min-height: 300px;
  width: 20px;
  background-color: #d9d9d9;
}
.toolbar:hover {
  width: 80px;
  padding: 4px;
}
.toolbar > .label {
  width: 20px;
  position: absolute;
  height: 300px;
  left: 0;
  top: 0;
  text-align: center;
  border-radius: 0;
}
.toolbar > .content {
  width: 60px;
  position: absolute;
  height: 300px;
  left: 20px;
  top: 0;
  padding: 4px 4px;
  font-size: 10px;
}
.toolbar > .content > .toolheading {
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
  margin-left: -2px;
  width: 56px;
  margin-bottom: 1em;
}
.toolbar > .content > .toolitem {
  text-align: left;
  white-space: no-wrap;
  margin-bottom: 1em;
}
.toolbar > .content > .toolitem:hover {
  background-color: #d1d9ff;
}
.toolbar > .content > .toolitem > .tooltext {
  padding-left: 4px;
}
.rotate90 {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left bottom;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left bottom;
  -o-transform: rotate(90deg);
  -o-transform-origin: left bottom;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
.canvas {
  -webkit-flex: 1;
  flex: 1;
  height: 300px;
  background-color: #f5e79e;
}
.dragover {
  border: 1px dotted #b8cdff;
  background-color: #d1d9ff;
}
@media (min-width: 768px) {
  .main-container {
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gutter {
    display: block;
    width: 4px;
    border: 1px solid black;
    -webkit-flex: 0 0 4px;
  }
  #gutter1 {
    -webkit-order: 3;
    order: 3;
  }
  #gutter2 {
    display: none;
  }
  #be-main-tree {
    -webkit-flex: 2 6 20%;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
  }
  #be-main-workspace {
    -webkit-flex: 5 1 100%;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
  }
  #be-main-preview {
    -webkit-flex: 3 2 30%;
    -webkit-order: 4;
    -moz-order: 4;
    order: 4;
  }
  .workspace-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
  }
}
@media (min-width: 992px) {
  .main-container {
    flex-wrap: nowrap;
  }
  #gutter1 {
    -webkit-order: 2;
    order: 2;
  }
  #gutter2 {
    display: block;
    -webkit-order: 4;
    order: 4;
  }
  #be-main-tree {
    -webkit-flex: 2 6 20%;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
  }
  #be-main-workspace {
    -webkit-flex: 5 1 50%;
    -webkit-order: 3;
    -moz-order: 3;
    order: 3;
  }
  #be-main-preview {
    -webkit-flex: 3 2 30%;
    -webkit-order: 5;
    -moz-order: 5;
    order: 5;
  }
}
